@import url("https://fonts.googleapis.com/css?family=Dancing+Script");
body {
  background: #1f1a25;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

/* styling paper */
#paper {
  width: 600px;
  height: 700px;
  position: relative;
  margin: 20px auto;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: white;
  box-shadow: 0px 0px 5px 0px #888;
}

/* styling red vertical line */
#paper::before {
  content: "";
  width: 2px;
  height: 100%;
  position: absolute;
  top: 0;
  left: 40px;
  background-color: rgba(255, 0, 0, 0.6);
}

/* styling blue horizontal lines */
#pattern {
  height: 100%;
  background-image: repeating-linear-gradient(white 0px, white 24px, teal 25px);
}

/* styling text content */
#content {
  padding-top: 6px;
  padding-left: 56px;
  padding-right: 16px;
  line-height: 25px;
  font-family: "Dancing Script", cursive;
  font-size: 19px;
  letter-spacing: 1px;
  word-spacing: 5px;
}

#userData {
  border: none;
  border-bottom: 2px dashed grey;
  position: relative;
  bottom: 23px;
  background-color: transparent;
  height: 2rem;
  width: 50%;
  margin-left: 20%;
}

button {
  width: 4rem;
  height: 1.5rem;
  border: none;
  background-color: transparent;
  font-family: Tahoma, Geneva, Verdana, sans-serif, cursive;
  font-size: 1.5rem;
}

button:hover {
  color: #26809b;
}

li {
  list-style: none;
  color: #10468b;
  max-width: 100vw;
  word-wrap: break-word;
  overflow-wrap: break-word;
  position: relative;
}

li:nth-child(even) {
  background-color: rgba(183, 235, 235, 0.521);
}

li:hover {
  background-color: #97c5b6;
}

li div {
  position: absolute;
  right: 0;
  top: 0;
}

li div button {
  width: 3rem;
  height: 2rem;
}

.delete {
  color: red;
}

.completed {
  /* some fancy styles */
  text-decoration: line-through;
}

.draw-border {
  box-shadow: inset 0 0 0 4px #a82b1b;
  color: #a82b1b;
  transition: color 0.25s 0.0833333333s;
  position: relative;
}
.draw-border::before, .draw-border::after {
  border: 0 solid transparent;
  box-sizing: border-box;
  content: "";
  pointer-events: none;
  position: absolute;
  width: 0;
  height: 0;
  bottom: 0;
  right: 0;
}
.draw-border::before {
  border-bottom-width: 4px;
  border-left-width: 4px;
}
.draw-border::after {
  border-top-width: 4px;
  border-right-width: 4px;
}
.draw-border:hover {
  color: #226280f5;
  border-radius: 30%;
}
.draw-border:hover::before, .draw-border:hover::after {
  border-color: #226280f5;
  transition: border-color 0s, width 0.25s, height 0.25s;
  width: 100%;
  height: 100%;
}
.draw-border:hover::before {
  transition-delay: 0s, 0s, 0.25s;
}
.draw-border:hover::after {
  transition-delay: 0s, 0.25s, 0s;
}

.btn {
  background: white;
  position: relative;
  bottom: 22px;
  border: none;
  cursor: pointer;
  line-height: 1.5;
  font: 700 0.7rem Tahoma, Geneva, Verdana, sans-serif, cursive;
  padding: 1em 1em;
  letter-spacing: 0.05rem;
  border-radius: 50%;
  width: 4rem;
  height: 3rem;
  color: #0e2525;
}
.btn:focus {
  outline: 2px dotted #061111;
}

/*# sourceMappingURL=main.css.map */
